# Compiled Object files
*.slo
*.lo
*.o
*.d
*.obj

# Precompiled Headers
*.gch
*.pch

# Log and debug files (MSVC)
*.exp
*.pdb
*.ilk
*.log
*.tlog
*.lastbuildstate
*.suo
*.sdf
*.vcxproj.*
*.idb
*.res

# Compiled Dynamic libraries
*.so
*.so.*
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Qt Help files
*.qch
*.qhc

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*-build-*

# QtCreator

*.autosave

#QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

# directories to be ignored
/bin*
/lib*
/processgraphs
/development/impresario/build
/doc
!/doc/*.txt

# special files to be ignored
/resources/PropertyWidgetConvolution.qml
